body{
    background-color: whitesmoke;
}

#container {
    padding: 10px 20px;
    max-width: 900px;
}
#game-board {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
    box-sizing: content-box;
    height: 310px;
    width: 310px;
    grid-gap: 5px;
    background-color: grey;
}
    .game-space{
        text-align: center;
        line-height: 100px;
        background-color: whitesmoke;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
    }
#actions__undo{
    background-color: cadetblue;
    color:rgb(38, 78, 80);
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 5px;

}
#actions__undo:hover
#actions__undo:active{
    background-color: rgb(141, 217, 219);
}
#actions__undo.inactive{
    background-color: grey;
    color: rgb(65, 65, 65)
}
#actions__undo.inactive:hover
#actions__undo.inactive:active{
    background-color: grey;
}
@media (min-width: 768px){
    #game-board {
        height: 610px;
        width: 610px;
    }
    .game-space{
        line-height: 200px;
        font-size: 2rem;
    }
}
